@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  src: url("./assets/fonts/Satoshi-Medium.woff") format('woff'),
    url('./assets/fonts/Satoshi-Light.woff') format('woff')
}

body {
  background-color: #090f16;
  min-height: 100vh;
  letter-spacing: .025em;
  position: relative;
}

h1 {
  font-family: 'Satoshi', sans-serif;
}

@layer components {
  .container-sm {
    @apply max-sm:px-4 px-8 max-w-[80rem] w-full mx-auto;
  }

  .container-big {}
}

.noisy {
  background-image: url("./assets/images/noisy.webp");
}

.gradient-btn {
  background: radial-gradient(66.11% 66.11% at 50% 33.89%, hsla(0, 0%, 100%, .4) 0, hsla(0, 0%, 100%, 0) 100%),
    linear-gradient(278.88deg, #fff, #66e3ff 28.83%, #a787ff 56.31%, #ffc875 86.49%);
}